infra/step-functions/hezo_iac_pipeline.json
{
  "Comment": "HEZO IaC 파이프라인 — site-published → 고객 인프라 프로비저닝. ① 이름정제(Lambda) → ② 스택생성(CFN .sync, SF가 완성 대기) → ③ 출력조회 → ④ 도메인설정(Lambda). 리포트는 별도(여기 제외).",
  "StartAt": "PrepareName",
  "States": {

    "PrepareName": {
      "Type": "Task",
      "Comment": "site_id _→- 변환 — SF가 문자열 치환을 못 하므로 Lambda로. SiteId 원본은 유지.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "hezo-prepare-customer-name",
        "Payload.$": "$"
      },
      "ResultSelector": { "out.$": "$.Payload" },
      "ResultPath": "$.prep",
      "Next": "CreateCustomerStack",
      "Catch": [ { "ErrorEquals": ["States.ALL"], "Next": "IaCFailed", "ResultPath": "$.error" } ]
    },

    "CreateCustomerStack": {
      "Type": "Task",
      "Comment": "스택 생성 시작(SDK). SF는 CloudFormation .sync 미지원 → 아래 Wait/Check로 폴링.",
      "Resource": "arn:aws:states:::aws-sdk:cloudformation:createStack",
      "Parameters": {
        "StackName.$": "$.prep.out.stack_name",
        "TemplateURL": "${CFN_TEMPLATE_URL}",
        "Parameters": [
          { "ParameterKey": "SiteId",                        "ParameterValue.$": "$.prep.out.site_id" },
          { "ParameterKey": "DomainName",                    "ParameterValue.$": "$.prep.out.domain_name" },
          { "ParameterKey": "HostedZoneId",                  "ParameterValue": "${HEZO_HOSTED_ZONE_ID}" },
          { "ParameterKey": "WildcardCertArn",               "ParameterValue": "${WILDCARD_CERT_ARN}" },
          { "ParameterKey": "HezoSitesBucketRegionalDomain", "ParameterValue": "${HEZO_SITES_BUCKET_DOMAIN}" },
          { "ParameterKey": "EcrImage",                      "ParameterValue": "${CUSTOMER_BACKEND_ECR_IMAGE}" },
          { "ParameterKey": "TemplateType",                  "ParameterValue.$": "$.prep.out.template_type" },
          { "ParameterKey": "TemplateCategory",              "ParameterValue.$": "$.prep.out.template_category" }
        ],
        "Capabilities": ["CAPABILITY_NAMED_IAM"],
        "Tags": [
          { "Key": "hezo:site-id",    "Value.$": "$.prep.out.site_id" },
          { "Key": "hezo:managed-by", "Value": "step-functions-iac" }
        ]
      },
      "ResultPath": null,
      "Next": "WaitForStack",
      "Catch": [
        { "ErrorEquals": ["CloudFormation.AlreadyExistsException"], "Next": "WaitForStack", "ResultPath": null },
        { "ErrorEquals": ["States.ALL"], "Next": "IaCFailed", "ResultPath": "$.error" }
      ]
    },

    "WaitForStack": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "CheckStackStatus"
    },

    "CheckStackStatus": {
      "Type": "Task",
      "Comment": "스택 상태 폴링 — describeStacks는 Outputs도 같이 줌(도메인 단계 입력).",
      "Resource": "arn:aws:states:::aws-sdk:cloudformation:describeStacks",
      "Parameters": { "StackName.$": "$.prep.out.stack_name" },
      "ResultPath": "$.stack_outputs",
      "Next": "StackStatusChoice",
      "Catch": [ { "ErrorEquals": ["States.ALL"], "Next": "IaCFailed", "ResultPath": "$.error" } ]
    },

    "StackStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            { "Variable": "$.stack_outputs.Stacks[0].StackStatus", "StringEquals": "CREATE_COMPLETE" },
            { "Variable": "$.stack_outputs.Stacks[0].StackStatus", "StringEquals": "UPDATE_COMPLETE" }
          ],
          "Next": "IaCSuccess"
        },
        {
          "Or": [
            { "Variable": "$.stack_outputs.Stacks[0].StackStatus", "StringEquals": "CREATE_IN_PROGRESS" },
            { "Variable": "$.stack_outputs.Stacks[0].StackStatus", "StringEquals": "UPDATE_IN_PROGRESS" },
            { "Variable": "$.stack_outputs.Stacks[0].StackStatus", "StringEquals": "UPDATE_COMPLETE_CLEANUP_IN_PROGRESS" }
          ],
          "Next": "WaitForStack"
        }
      ],
      "Default": "IaCFailed"
    },

    "IaCSuccess": { "Type": "Succeed" },

    "IaCFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-northeast-2:${AWS_ACCOUNT_ID}:hezo-pipeline-alerts",
        "Subject": "HEZO IaC Pipeline Failed",
        "Message.$": "States.Format('IaC 실패 site_id={}', $.prep.out.site_id)"
      },
      "ResultPath": null,
      "Next": "IaCPipelineFailed",
      "Catch": [ { "ErrorEquals": ["States.ALL"], "Next": "IaCPipelineFailed", "ResultPath": null } ]
    },

    "IaCPipelineFailed": {
      "Type": "Fail",
      "Error": "IaCPipelineFailed",
      "Cause": "고객 인프라 프로비저닝 실패."
    }

  }
}
