infra/step-functions/hezo_pipeline.json
{
  "Comment": "HEZO 홈페이지 생성 파이프라인 v2.0 — AgentCore Runtime: P4 Generation → P3 Build → (P4 Validation: P2 완료 후 활성화)",
  "StartAt": "InvokeGenerationAgent",
  "States": {

    "InvokeGenerationAgent": {
      "Type": "Task",
      "Comment": "P4 생성 에이전트 — contract_final.json 읽기 → render_spec.json + GEO 4종 → S3 저장",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "${GENERATION_AGENT_ENDPOINT}/invoke",
        "Method": "POST",
        "Headers": {
          "Content-Type": "application/json"
        },
        "RequestBody": {
          "sessionId.$": "$$.Execution.Name",
          "inputText.$": "States.Format('site_id={}', $.site_id)",
          "sessionAttributes": {
            "site_id.$": "$.site_id",
            "pipeline_run_id.$": "$$.Execution.Name"
          }
        },
        "Authentication": {
          "ConnectionArn": "${EVENTBRIDGE_CONNECTION_ARN}"
        }
      },
      "ResultSelector": {
        "output.$": "$.ResponseBody.output",
        "metadata.$": "$.ResponseBody.metadata",
        "status_code.$": "$.StatusCode"
      },
      "ResultPath": "$.generation_result",
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["States.Http.StatusCode429", "States.Http.StatusCode503"],
          "IntervalSeconds": 15,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.Http.StatusCode422"],
          "Comment": "가드레일 위반 — 즉시 실패",
          "ResultPath": "$.error_info",
          "Next": "MarkFailed"
        },
        {
          "ErrorEquals": ["States.Timeout", "States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "MarkFailed"
        }
      ],
      "Next": "CheckGenerationResult"
    },

    "CheckGenerationResult": {
      "Type": "Choice",
      "Comment": "생성 에이전트 output에 'render_spec_saved' 포함 여부로 성공 판정",
      "Choices": [
        {
          "Variable": "$.generation_result.output",
          "StringMatches": "*render_spec_saved*",
          "Next": "MarkGenerationComplete"
        },
        {
          "Variable": "$.generation_result.output",
          "StringMatches": "*generation_skipped*",
          "Next": "MarkFailed"
        }
      ],
      "Default": "MarkFailed"
    },

    "MarkGenerationComplete": {
      "Type": "Task",
      "Comment": "DynamoDB에 generation_complete 상태 기록",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "hezo_pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET pipeline_status = :s, render_spec_s3_key = :r, pipeline_run_id = :p, updated_at = :t",
        "ExpressionAttributeValues": {
          ":s": { "S": "generation_complete" },
          ":r": { "S.$": "States.Format('sites/{}/render_spec.json', $.site_id)" },
          ":p": { "S.$": "$$.Execution.Name" },
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException", "DynamoDB.ProvisionedThroughputExceededException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "PipelineFinalFailure"
        }
      ],
      "Next": "InvokeBuildAgent"
    },

    "InvokeBuildAgent": {
      "Type": "Task",
      "Comment": "P3 빌드 에이전트 — render_spec.json 읽기 → HTML 렌더링 → S3 dist/ 업로드",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "${BUILD_AGENT_ENDPOINT}/invoke",
        "Method": "POST",
        "Headers": {
          "Content-Type": "application/json"
        },
        "RequestBody": {
          "sessionId.$": "$$.Execution.Name",
          "inputText.$": "States.Format('site_id={}', $.site_id)",
          "sessionAttributes": {
            "site_id.$": "$.site_id",
            "pipeline_run_id.$": "$$.Execution.Name"
          }
        },
        "Authentication": {
          "ConnectionArn": "${EVENTBRIDGE_CONNECTION_ARN}"
        }
      },
      "ResultSelector": {
        "output.$": "$.ResponseBody.output",
        "metadata.$": "$.ResponseBody.metadata",
        "status_code.$": "$.StatusCode"
      },
      "ResultPath": "$.build_result",
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.Http.StatusCode429", "States.Http.StatusCode503"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout", "States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "MarkBuildFailed"
        }
      ],
      "Next": "CheckBuildResult"
    },

    "CheckBuildResult": {
      "Type": "Choice",
      "Comment": "빌드 에이전트 output에 'build_complete' 포함 여부로 성공 판정",
      "Choices": [
        {
          "Variable": "$.build_result.output",
          "StringMatches": "*build_complete*",
          "Next": "MarkBuildComplete"
        }
      ],
      "Default": "MarkBuildFailed"
    },

    "MarkBuildComplete": {
      "Type": "Task",
      "Comment": "DynamoDB에 build_complete 상태 기록",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "hezo_pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET pipeline_status = :s, dist_s3_key = :d, pipeline_run_id = :p, updated_at = :t",
        "ExpressionAttributeValues": {
          ":s": { "S": "build_complete" },
          ":d": { "S.$": "States.Format('sites/{}/dist/index.html', $.site_id)" },
          ":p": { "S.$": "$$.Execution.Name" },
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException", "DynamoDB.ProvisionedThroughputExceededException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "PipelineFinalFailure"
        }
      ],
      "Next": "InvokeValidationAgent"
    },

    "InvokeValidationAgent": {
      "Type": "Task",
      "Comment": "P4 검증 에이전트 — Layer 3→2→1 순서 검증 (패치+재빌드 루프 포함, 최대 3회)",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "${VALIDATION_AGENT_ENDPOINT}/invocations",
        "Method": "POST",
        "Headers": {
          "Content-Type": "application/json"
        },
        "RequestBody": {
          "sessionId.$": "$$.Execution.Name",
          "inputText.$": "States.Format('site_id={}', $.site_id)",
          "sessionAttributes": {
            "site_id.$": "$.site_id",
            "pipeline_run_id.$": "$$.Execution.Name"
          }
        },
        "Authentication": {
          "ConnectionArn": "${EVENTBRIDGE_CONNECTION_ARN}"
        }
      },
      "ResultSelector": {
        "output.$": "$.ResponseBody.output",
        "metadata.$": "$.ResponseBody.metadata",
        "status_code.$": "$.StatusCode"
      },
      "ResultPath": "$.validation_result",
      "TimeoutSeconds": 1800,
      "Retry": [
        {
          "ErrorEquals": ["States.Http.StatusCode429", "States.Http.StatusCode503"],
          "IntervalSeconds": 15,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout", "States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "MarkValidationFailed"
        }
      ],
      "Next": "CheckValidationResult"
    },

    "CheckValidationResult": {
      "Type": "Choice",
      "Comment": "validation_status 기준 분기: PASS/PASS_WITH_WARNINGS → 성공, FAIL_BLOCKING → 실패",
      "Choices": [
        {
          "Variable": "$.validation_result.output",
          "StringMatches": "*validation_complete*",
          "Next": "MarkPublished"
        }
      ],
      "Default": "MarkValidationFailed"
    },

    "MarkPublished": {
      "Type": "Task",
      "Comment": "DynamoDB에 published 상태 기록",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "hezo_pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET pipeline_status = :s, pipeline_run_id = :p, updated_at = :t",
        "ExpressionAttributeValues": {
          ":s": { "S": "published" },
          ":p": { "S.$": "$$.Execution.Name" },
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "PipelineFinalFailure"
        }
      ],
      "Next": "PipelineSuccess"
    },

    "MarkValidationFailed": {
      "Type": "Task",
      "Comment": "DynamoDB에 validation_failed 상태 기록",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "hezo_pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET pipeline_status = :s, pipeline_run_id = :p, updated_at = :t",
        "ExpressionAttributeValues": {
          ":s": { "S": "validation_failed" },
          ":p": { "S.$": "$$.Execution.Name" },
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.double_failure",
          "Next": "PipelineFinalFailure"
        }
      ],
      "Next": "PipelineFinalFailure"
    },

    "MarkFailed": {
      "Type": "Task",
      "Comment": "DynamoDB에 pipeline_failed 상태 기록 (생성 단계 실패)",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "hezo_pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET pipeline_status = :s, pipeline_run_id = :p, updated_at = :t",
        "ExpressionAttributeValues": {
          ":s": { "S": "generation_failed" },
          ":p": { "S.$": "$$.Execution.Name" },
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.double_failure",
          "Next": "PipelineFinalFailure"
        }
      ],
      "Next": "PipelineFinalFailure"
    },

    "MarkBuildFailed": {
      "Type": "Task",
      "Comment": "DynamoDB에 build_failed 상태 기록 (빌드 단계 실패)",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "hezo_pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET pipeline_status = :s, pipeline_run_id = :p, updated_at = :t",
        "ExpressionAttributeValues": {
          ":s": { "S": "build_failed" },
          ":p": { "S.$": "$$.Execution.Name" },
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.double_failure",
          "Next": "PipelineFinalFailure"
        }
      ],
      "Next": "PipelineFinalFailure"
    },

    "PipelineFinalFailure": {
      "Type": "Fail",
      "Error": "HezoPipelineFailed",
      "Cause": "파이프라인 실패. CloudWatch Logs에서 상세 오류를 확인하세요."
    },

    "PipelineSuccess": {
      "Type": "Succeed",
      "Comment": "파이프라인 완료. dist/index.html이 S3에 저장되었습니다."
    }

  }
}
