infra/step-functions/hezo_pipeline.json
{
  "Comment": "HEZO Site Generation Pipeline v4.0 — CheckIdempotency → Generation → Build → Validation → CustomerStack(CFn) → DomainStore → CFInvalidation → ReportSchedule → Publish",
  "StartAt": "CheckIdempotency",
  "States": {

    "CheckIdempotency": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Parameters": {
        "TableName": "pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "ProjectionExpression": "publish_status"
      },
      "ResultPath": "$.idempotency",
      "Next": "IsAlreadyPublished",
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException", "DynamoDB.ProvisionedThroughputExceededException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "IsAlreadyPublished": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.idempotency.Item.publish_status.S",
              "IsPresent": true
            },
            {
              "Variable": "$.idempotency.Item.publish_status.S",
              "StringEquals": "published"
            }
          ],
          "Next": "AlreadyPublished"
        }
      ],
      "Default": "MarkBuilding"
    },

    "AlreadyPublished": {
      "Type": "Succeed"
    },

    "MarkBuilding": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET publish_status = :building",
        "ConditionExpression": "attribute_not_exists(publish_status) OR publish_status <> :published",
        "ExpressionAttributeValues": {
          ":building": { "S": "building" },
          ":published": { "S": "published" }
        }
      },
      "ResultPath": null,
      "Next": "InvokeGenerationAgent",
      "Catch": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "Next": "AlreadyPublished",
          "ResultPath": null
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "InvokeGenerationAgent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "${GENERATION_AGENT_ENDPOINT}/invocations",
        "Method": "POST",
        "Headers": {
          "Content-Type": "application/json"
        },
        "RequestBody": {
          "site_id.$": "$.site_id",
          "pipeline_run_id.$": "$$.Execution.Name"
        },
        "Authentication": {
          "ConnectionArn": "${EVENTBRIDGE_CONNECTION_ARN}"
        }
      },
      "ResultPath": "$.generation_result",
      "Next": "InvokeBuildWorker",
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.Http.StatusCode429", "States.Http.StatusCode503", "States.Timeout"],
          "IntervalSeconds": 15,
          "MaxAttempts": 2,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "InvokeBuildWorker": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "${BUILD_AGENT_ENDPOINT}/invocations",
        "Method": "POST",
        "Headers": {
          "Content-Type": "application/json"
        },
        "RequestBody": {
          "sessionId.$": "$$.Execution.Name",
          "inputText.$": "States.Format('site_id={} mode=publish', $.site_id)",
          "sessionAttributes": {
            "site_id.$": "$.site_id",
            "mode": "publish"
          }
        },
        "Authentication": {
          "ConnectionArn": "${EVENTBRIDGE_CONNECTION_ARN}"
        }
      },
      "ResultPath": "$.build_result",
      "Next": "MarkValidating",
      "TimeoutSeconds": 600,
      "Retry": [
        {
          "ErrorEquals": ["States.Http.StatusCode429", "States.Http.StatusCode503", "States.Timeout"],
          "IntervalSeconds": 15,
          "MaxAttempts": 2,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "MarkValidating": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET publish_status = :validating",
        "ExpressionAttributeValues": {
          ":validating": { "S": "validating" }
        }
      },
      "ResultPath": null,
      "Next": "InvokeValidationAgent"
    },

    "InvokeValidationAgent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "${VALIDATION_AGENT_ENDPOINT}/invocations",
        "Method": "POST",
        "Headers": {
          "Content-Type": "application/json"
        },
        "RequestBody": {
          "site_id.$": "$.site_id",
          "pipeline_run_id.$": "$$.Execution.Name"
        },
        "Authentication": {
          "ConnectionArn": "${EVENTBRIDGE_CONNECTION_ARN}"
        }
      },
      "ResultPath": "$.validation_result",
      "Next": "CheckValidationResult",
      "TimeoutSeconds": 1800,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "CheckValidationResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.validation_result.ResponseBody.validation_status",
              "StringEquals": "PASS"
            },
            {
              "Variable": "$.validation_result.ResponseBody.validation_status",
              "StringEquals": "PASS_WITH_WARNINGS"
            }
          ],
          "Next": "MarkPublished"
        },
        {
          "Variable": "$.validation_result.ResponseBody.validation_status",
          "StringEquals": "FAIL_BLOCKING",
          "Next": "MarkFailed"
        }
      ],
      "Default": "MarkFailed"
    },

    "MarkPublished": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET publish_status = :published",
        "ExpressionAttributeValues": {
          ":published": { "S": "published" }
        }
      },
      "ResultPath": null,
      "Next": "CreateCustomerStack"
    },

    "CreateCustomerStack": {
      "Type": "Task",
      "Resource": "arn:aws:states:::cloudformation:createStack.sync",
      "Parameters": {
        "StackName.$": "States.Format('hezo-customer-{}', $.site_id)",
        "TemplateURL": "${CFN_TEMPLATE_URL}",
        "Parameters": [
          { "ParameterKey": "SiteId",          "ParameterValue.$": "$.site_id" },
          { "ParameterKey": "DomainName",      "ParameterValue.$": "States.Format('{}.hezo.io', $.site_id)" },
          { "ParameterKey": "HostedZoneId",    "ParameterValue": "${HEZO_HOSTED_ZONE_ID}" },
          { "ParameterKey": "WildcardCertArn", "ParameterValue": "${WILDCARD_CERT_ARN}" }
        ],
        "Capabilities": ["CAPABILITY_NAMED_IAM"],
        "Tags": [
          { "Key": "hezo:site-id",   "Value.$": "$.site_id" },
          { "Key": "hezo:managed-by","Value": "step-functions" }
        ]
      },
      "ResultPath": null,
      "Next": "GetStackOutputs",
      "TimeoutSeconds": 1800,
      "Retry": [
        {
          "ErrorEquals": ["CloudFormation.CloudFormationException"],
          "IntervalSeconds": 30,
          "MaxAttempts": 1,
          "BackoffRate": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["CloudFormation.AlreadyExistsException"],
          "Next": "UpdateCustomerStack",
          "ResultPath": null
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "UpdateCustomerStack": {
      "Type": "Task",
      "Resource": "arn:aws:states:::cloudformation:updateStack.sync",
      "Parameters": {
        "StackName.$": "States.Format('hezo-customer-{}', $.site_id)",
        "TemplateURL": "${CFN_TEMPLATE_URL}",
        "Parameters": [
          { "ParameterKey": "SiteId",          "ParameterValue.$": "$.site_id" },
          { "ParameterKey": "DomainName",      "ParameterValue.$": "States.Format('{}.hezo.io', $.site_id)" },
          { "ParameterKey": "HostedZoneId",    "ParameterValue": "${HEZO_HOSTED_ZONE_ID}" },
          { "ParameterKey": "WildcardCertArn", "ParameterValue": "${WILDCARD_CERT_ARN}" }
        ],
        "Capabilities": ["CAPABILITY_NAMED_IAM"]
      },
      "ResultPath": null,
      "Next": "GetStackOutputs",
      "TimeoutSeconds": 1800,
      "Catch": [
        {
          "ErrorEquals": ["CloudFormation.ValidationException"],
          "Next": "GetStackOutputs",
          "ResultPath": null
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "GetStackOutputs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:cloudformation:describeStacks",
      "Parameters": {
        "StackName.$": "States.Format('hezo-customer-{}', $.site_id)"
      },
      "ResultSelector": {
        "domain_url.$":          "$.Stacks[0].Outputs[0].OutputValue",
        "cf_distribution_id.$":  "$.Stacks[0].Outputs[1].OutputValue",
        "cf_domain_name.$":      "$.Stacks[0].Outputs[2].OutputValue",
        "ec2_instance_id.$":     "$.Stacks[0].Outputs[3].OutputValue",
        "static_site_prefix.$":  "$.Stacks[0].Outputs[5].OutputValue"
      },
      "ResultPath": "$.stack_outputs",
      "Next": "StoreCustomerDomain",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "StoreCustomerDomain": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET domain_url = :domain, cf_distribution_id = :cf_id",
        "ExpressionAttributeValues": {
          ":domain": { "S.$": "$.stack_outputs.domain_url" },
          ":cf_id":  { "S.$": "$.stack_outputs.cf_distribution_id" }
        }
      },
      "ResultPath": null,
      "Next": "CloudFrontInvalidation",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "MarkFailed",
          "ResultPath": "$.error"
        }
      ]
    },

    "CloudFrontInvalidation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:cloudfront:createInvalidation",
      "Parameters": {
        "DistributionId.$": "$.stack_outputs.cf_distribution_id",
        "InvalidationBatch": {
          "CallerReference.$": "$$.Execution.Name",
          "Paths": {
            "Quantity": 1,
            "Items": ["/*"]
          }
        }
      },
      "ResultPath": null,
      "Next": "RegisterReportSchedule",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PublishSiteEvent",
          "ResultPath": null
        }
      ]
    },

    "RegisterReportSchedule": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:scheduler:createSchedule",
      "Parameters": {
        "Name.$": "States.Format('hezo-report-{}', $.site_id)",
        "GroupName": "hezo-reports",
        "ScheduleExpression": "rate(7 days)",
        "FlexibleTimeWindow": { "Mode": "OFF" },
        "Target": {
          "Arn": "${REPORT_STATE_MACHINE_ARN}",
          "RoleArn": "${SCHEDULER_ROLE_ARN}",
          "Input.$": "States.Format('{\"site_id\":\"{}\",\"domain_url\":\"{}\"}', $.site_id, $.stack_outputs.domain_url)"
        }
      },
      "ResultPath": null,
      "Next": "PublishSiteEvent",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PublishSiteEvent",
          "ResultPath": null
        }
      ]
    },

    "PublishSiteEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "default",
            "Source": "hezo.pipeline",
            "DetailType": "site-published",
            "Detail": {
              "site_id.$": "$.site_id",
              "execution_name.$": "$$.Execution.Name",
              "ai_score.$": "$.validation_result.ResponseBody.ai_score"
            }
          }
        ]
      },
      "ResultPath": null,
      "Next": "PipelineSuccess"
    },

    "PipelineSuccess": {
      "Type": "Succeed"
    },

    "MarkFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET publish_status = :failed",
        "ExpressionAttributeValues": {
          ":failed": { "S": "failed" }
        }
      },
      "ResultPath": null,
      "Next": "HandleFailure",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": null
        }
      ]
    },

    "HandleFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-northeast-2:${AWS_ACCOUNT_ID}:hezo-pipeline-alerts",
        "Subject": "HEZO Pipeline Failed",
        "Message.$": "States.Format('Pipeline failed for site_id={}, execution={}', $.site_id, $$.Execution.Name)"
      },
      "ResultPath": null,
      "Next": "PipelineFailed",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PipelineFailed",
          "ResultPath": null
        }
      ]
    },

    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "Site generation pipeline failed. Check SNS alert and CloudWatch Logs."
    }

  }
}
