infra/step-functions/hezo_pipeline.json
{
  "Comment": "HEZO 홈페이지 생성 파이프라인 - Generation Agent → (P3 Build Worker) → (Validation Agent) → Deploy",
  "StartAt": "UploadContractToS3",
  "States": {

    "UploadContractToS3": {
      "Type": "Task",
      "Comment": "contract_json을 S3 hezo-artifacts/sites/{site_id}/contract_final.json 에 업로드",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-northeast-2:${AWS_ACCOUNT_ID}:function:hezo-p4-upload-contract",
        "Payload": {
          "site_id.$": "$.site_id",
          "contract_json.$": "$.contract_json"
        }
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "s3_key.$": "$.Payload.s3_key"
      },
      "ResultPath": "$.upload_result",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.SdkClientException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "MarkFailed"
        }
      ],
      "Next": "InvokeGenerationAgent"
    },

    "InvokeGenerationAgent": {
      "Type": "Task",
      "Comment": "Bedrock Agent(hezo-generation-agent)를 호출하여 render_spec.json 생성",
      "Resource": "arn:aws:states:::bedrock:invokeAgent",
      "Parameters": {
        "AgentId": "${BEDROCK_AGENT_ID}",
        "AgentAliasId": "${BEDROCK_AGENT_ALIAS_ID}",
        "SessionId.$": "$.site_id",
        "InputText.$": "States.Format('site_id={} 에 대한 render_spec.json 을 생성하세요. contract_final.json 을 읽고 SEO 메타데이터, Schema.org JSON-LD, FAQ, QuickAnswer, llms.txt 를 포함한 완전한 렌더 스펙을 작성하여 저장하세요.', $.site_id)",
        "SessionState": {
          "SessionAttributes": {
            "site_id.$": "$.site_id",
            "contract_s3_key.$": "$.upload_result.s3_key",
            "pipeline_run_id.$": "$$.Execution.Name"
          }
        }
      },
      "ResultSelector": {
        "completion.$": "$.completion",
        "agent_response.$": "$.completion"
      },
      "ResultPath": "$.generation_result",
      "TimeoutSeconds": 600,
      "HeartbeatSeconds": 120,
      "Retry": [
        {
          "ErrorEquals": ["Bedrock.ThrottlingException", "Bedrock.ServiceUnavailableException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.Timeout", "States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "MarkFailed"
        }
      ],
      "Next": "CheckGenerationResult"
    },

    "CheckGenerationResult": {
      "Type": "Choice",
      "Comment": "agent_response에 'render_spec_saved' 키워드가 있으면 성공으로 간주.",
      "Choices": [
        {
          "Variable": "$.generation_result.completion",
          "StringMatches": "*render_spec_saved*",
          "Next": "MarkGenerationComplete"
        },
        {
          "Variable": "$.generation_result.completion",
          "StringMatches": "*render_spec.json*",
          "Next": "MarkGenerationComplete"
        }
      ],
      "Default": "MarkFailed"
    },

    "MarkGenerationComplete": {
      "Type": "Task",
      "Comment": "DynamoDB에 generation_complete 상태 직접 기록 (Lambda 없이 네이티브 통합)",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "hezo_pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET pipeline_status = :s, render_spec_s3_key = :r, pipeline_run_id = :p, updated_at = :t",
        "ExpressionAttributeValues": {
          ":s": { "S": "generation_complete" },
          ":r": { "S.$": "States.Format('sites/{}/render_spec.json', $.site_id)" },
          ":p": { "S.$": "$$.Execution.Name" },
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException", "DynamoDB.ProvisionedThroughputExceededException", "States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error_info",
          "Next": "PipelineFinalFailure"
        }
      ],
      "Next": "WaitForBuildWorker"
    },

    "WaitForBuildWorker": {
      "Type": "Wait",
      "Comment": "TODO [P3 Build Worker]: ECS Fargate 빌드 워커 태스크를 여기서 실행. 현재는 1초 대기.",
      "Seconds": 1,
      "Next": "BuildWorkerPlaceholder"
    },

    "BuildWorkerPlaceholder": {
      "Type": "Pass",
      "Comment": "TODO [P3]: ECS Fargate 빌드 워커 - render_spec.json → 정적 HTML/CSS/JS 렌더링 → S3 hezo-sites 업로드. 미구현.",
      "Result": {
        "build_status": "skipped_placeholder",
        "message": "P3 Build Worker not yet implemented"
      },
      "ResultPath": "$.build_result",
      "Next": "ValidationAgentPlaceholder"
    },

    "ValidationAgentPlaceholder": {
      "Type": "Pass",
      "Comment": "TODO [P3]: Validation Agent - Lighthouse 감사, Schema.org 준수 검사, AI 친화도 점수 계산. 미구현.",
      "Result": {
        "validation_status": "skipped_placeholder",
        "lighthouse_score": null,
        "message": "Validation Agent not yet implemented"
      },
      "ResultPath": "$.validation_result",
      "Next": "PipelineSuccess"
    },

    "MarkFailed": {
      "Type": "Task",
      "Comment": "DynamoDB에 generation_failed 상태 직접 기록 후 Fail state로 전환",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "hezo_pipeline_state",
        "Key": {
          "site_id": { "S.$": "$.site_id" }
        },
        "UpdateExpression": "SET pipeline_status = :s, pipeline_run_id = :p, updated_at = :t",
        "ExpressionAttributeValues": {
          ":s": { "S": "generation_failed" },
          ":p": { "S.$": "$$.Execution.Name" },
          ":t": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["DynamoDB.DynamoDbException", "DynamoDB.ProvisionedThroughputExceededException", "States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.double_failure",
          "Next": "PipelineFinalFailure"
        }
      ],
      "Next": "PipelineFinalFailure"
    },

    "PipelineFinalFailure": {
      "Type": "Fail",
      "Error": "GenerationAgentFailed",
      "Cause": "Generation Agent가 render_spec.json 생성에 실패했습니다. CloudWatch Logs에서 상세 오류를 확인하세요."
    },

    "PipelineSuccess": {
      "Type": "Succeed",
      "Comment": "파이프라인 전체 완료. site_id에 대한 render_spec.json이 S3에 저장되었습니다."
    }

  }
}
